#include <input/processors.dtsi>

/ {
    // Enable Pointer Input Processing
    glidepoint_listener: glidepoint_listener {
      compatible = "zmk,input-listener";
      status = "okay";
      device = <&glidepoint>;
    };
};

// Configure I2C Bus for Nice!Nano
&i2c0 {
    status = "okay"; // Ensure I2C is enabled

    glidepoint: glidepoint@2a {
        compatible = "cirque,pinnacle";
        reg = <0x2a>;
        status = "okay";
        dr-gpios = <&gpio0 6 (GPIO_ACTIVE_HIGH)>;

        sensitivity = "1x";
        // sleep;
        // no-taps;
    };
};
